<div class="pure-menu-horizontal">
  <a href="#/whosinclass" class="pure-menu-link pure-menu-heading">KLS Signin Admin Portal</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#/admin/user-dashboard" class="pure-menu-link">User Dashboard</a></li>
    <li class="pure-menu-item"><a href="#/admin/interactions" class="pure-menu-link">Signin/out Table</a></li>
    <li class="pure-menu-item"><a href="#/admin/add-absence" class="pure-menu-link">Long Term Absence</a></li>
  </ul>
</div>
