<h1>KLS User Dashboard</h1>

<h2>Students</h2>
<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Can Signin</th>
        <th>Can Signout</th>
        <th>Authorized Signers</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="(name, student) in students">
        <td> {{ name }} </td>
        <td> {{ student.id }} </td>
        <td> <input type="checkbox" ng-model=student['can_signin'] ng-change="patch_student(name, 'can_signin')" /> </td>
        <td> <input type="checkbox" ng-model=student['can_signout'] ng-change="patch_student(name, 'can_signout')"/> </td>
        <td>
            <div ng-repeat="user in student['authorized']">
                {{ user }}
                <button ng-click="remove_signer(name, user)"> - </button>
            </div>
            <input type="text" name="username" ng-model="new_signers[name]">
            <button class="btn" ng-click="add_signer(name)"> Add Signer </button>
        </td>
        <td> <button class="btn" ng-click="delete_student(name)"> Delete </button> </td>
    </tr>
</table>
<button ng-click="create_student()"> Create </button>

<h2>Users</h2>
<table>
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Permissions</th>
        <th></th>
    </tr>
    <tr ng-repeat="(name, user) in users">
        <td>{{ name }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.permissions }}</td>
        <td><button class="btn" ng-click="delete_user(name)" type="button"> Delete </button></td>
    </tr>
</table>
<button ng-click="create_user()" type="button"> Create </button>

