<div ng-include src="'templates/partials/admin-navbar.html'"></div>

<div class="container">

  <div class="col-md-4">
    <h1 class="page-header">Who's in Class? </h1>
    <div class="input-group">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Find: </button>
        </span>
      <input type="text" class="form-control" ng-model="filtertext">
    </div>

    <div>
      <h2>In Class</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="student in students.present | filter:filtertext">
          {{student}}
        </li>
      </ul>
    </div>

    <div>
      <h2>Absent</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="student in students.absent | filter:filtertext">
          {{student}}
        </li>
      </ul>
    </div>

    <div>
      <h2>Not Here</h2>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="student in students.nothere | filter:filtertext">
          {{student}}
        </li>
      </ul>
    </div>
  </div>
</div>


